<div class="container-fluid">
    <div class="mx-auto text-center">
        <h1 class="display-4">Cross-Site Scripting Niveau 1 : 
            <a href="https://www.owasp.org/index.php/Cross-site_Scripting_(XSS)#Reflected_XSS_Attacks" target="_blank">
                    XSS réfléchi
                </a>
        </h1>
        <p class="lead">
            Le but de cette exercice est de réussir à outrepasser les filtres et à forcer l'exécution d'un alert().
        </p>
        <button id="nextLvlBtn" class="mx-auto text-center" style="display: none" onclick="nextLevel()">Prochain niveau</button>
        <p id="abc" class="h4">
            <b>Indices:</b>
        </p>
            <p>
                Le iframe utilisé dans cette page prévient l'injection d'un script dans un paramètre.
            </p>
            <p>
                Consultez cette ressource s'il vous faut de l'inspiration: 
                <a href="https://www.owasp.org/index.php/XSS_Filter_Evasion_Cheat_Sheet" target="_blank">
                    XSS Filter Evasion Cheat Sheet
                </a>
            </p>
        
        <iframe id="lvl1Frame" src="search" title="iframe example 1" onload="overrideIFrameAlert()" width="70%" height="400vh" style="margin: 20px"></iframe>
        <script>
            function overrideIFrameAlert() {
                var iframewindow = document.getElementById("lvl1Frame").contentWindow;
                var _alert = iframewindow.alert;
                iframewindow.alert = function() {
                    _alert("Bravo! Vous pouvez passer au prochain exercice.");
                    document.getElementById("nextLvlBtn").style.display = "block";
                }
            }

            function nextLevel() {
                location.href = location.href.replace("lvl1", "lvl2");
            }
        </script>
    </div>
</div>
