
.center {
    text-align: center;
}

.marginLeft {
    margin-left: 25%;
    max-width: 50%;
}

.swal-button swal-button--confirm {
    background-color: rgb(44, 62, 80) !important;
}

.swal-button--confirm {
    background-color: rgb(44, 62, 80) !important;
}